@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
<!DOCTYPE html>
<html @Html.RenderLangAttribute()>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0" />
    <link href="favicon.ico" rel="icon" />
    <title>Client Name PLC</title>
    <meta name="description" content="">

    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    @Html.Section("additionalHeader")
    @Html.StyleSheet(Url.Content("~/ResourcePackages/Bootstrap/assets/dist/css/style.css"), "additionalHeader")
</head>
<body>
    @Html.Section("top")
    <div>
        @Html.SfPlaceHolder("Body")
    </div>

    @* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
    @*@if (Html.ShouldRenderInlineEditing())
        {
            @Html.Script(ScriptRef.MicrosoftAjax, "top")
            @Html.Script(ScriptRef.MicrosoftAjaxCore, "top")
           
            @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js"), "top")
            @Html.Script(ScriptRef.KendoAll, "top")
            @Html.Script(ScriptRef.KendoTimezones, "top")
            @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js"), "top")
            @Html.InlineEditingManager(false)
        }*@
    @Html.Section("additionalFooter")

    @Html.Script(Url.Content("~/ResourcePackages/Bootstrap/MVC/Scripts/libs/jquery-1.11.2.min.js"), "additionalFooter")
    @Html.Script(Url.Content("~/ResourcePackages/Bootstrap/MVC/Scripts/libs/jquery.validate.min.js"), "additionalFooter")
    @Html.Script(Url.Content("~/ResourcePackages/Bootstrap/MVC/Scripts/libs/masonry.pkgd.min.js"), "additionalFooter")
    @Html.Script(Url.Content("~/ResourcePackages/Bootstrap/MVC/Scripts/libs/jquery.magnific-popup.min.js"), "additionalFooter")
    @Html.Script(Url.Content("~/ResourcePackages/Bootstrap/MVC/Scripts/default.js"), "additionalFooter")
</body>
</html>